@{
    ViewData["Title"] = "Access Denied";
}

<div class="mt-5 container text-center">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <p class="lead mt-3">You do not have permission to view this page.</p>
    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt="Access Denied" style="width: 150px; height: auto; margin: 20px 0;">

    <div class="mt-4">
        <a href="/" class="btn btn-primary">Go to Home</a>
        <a href="/Account/Login" class="btn btn-secondary ml-2">Login Again</a>
    </div>
</div>
